{% extends 'base.html' %} {% load static %} 
{% block title %}Researches{%endblock %} {% block main_content %}
<div class="fh5co-narrow-content">
  <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">
    Read about My Researches
  </h2>
  <div class="row row-bottom-padded-md">    
    {% comment %} single blog entry {% endcomment %}        
    {% for post in posts %}
    <div class="col-md-4 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft" >

        <div class="blog-entry">
          <a href="#" class="blog-img"
            ><img
              src="{{ post.image.url }}"
              class="img-responsive img-rounded"
              alt="{{ post.title }}"
          /></a>
          <div class="desc">
            <h3><a href="#">{{post.title}}</a></h3>
            <span
              ><small>by {{post.author.first_name}} {{post.author.last_name}} </small> / <small> {{post.category}} </small> /
              <small> <i class="icon-comment"></i> {{post.created_at | date:"Y-m-d H:i"}}</small></span
            >
            <p>
              {{ post.description }}
            </p>
            <a href="{% url 'apps.md_display:detail' post.id %}" class="lead"
              >Read More <i class="icon-arrow-right3"></i
            ></a>
          </div>
        </div>

      
    </div>      
    {% endfor %}
	  {% comment %} blog end {% endcomment %}
  </div>
</div>
{% endblock %}


{% comment %} 
					<div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
						<div class="blog-entry">
							<a href="#" class="blog-img"><img src="images/img-1.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
							<div class="desc">
								<h3><a href="#">Inspirational Website</a></h3>
								<span><small>by Admin </small> / <small> Web Design </small> / <small> <i class="icon-comment"></i> 14</small></span>
								<p>Design must be functional and functionality must be translated into visual aesthetics</p>
								<a href="#" class="lead">Read More <i class="icon-arrow-right3"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
						<div class="blog-entry">
							<a href="#" class="blog-img"><img src="images/img-2.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
							<div class="desc">
								<h3><a href="#">Inspirational Website</a></h3>
								<span><small>by Admin </small> / <small> Web Design </small> / <small> <i class="icon-comment"></i> 14</small></span>
								<p>Design must be functional and functionality must be translated into visual aesthetics</p>
								<a href="#" class="lead">Read More <i class="icon-arrow-right3"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
						<div class="blog-entry">
							<a href="#" class="blog-img"><img src="images/img-3.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
							<div class="desc">
								<h3><a href="#">Inspirational Website</a></h3>
								<span><small>by Admin </small> / <small> Web Design </small> / <small> <i class="icon-comment"></i> 14</small></span>
								<p>Design must be functional and functionality must be translated into visual aesthetics</p>
								<a href="#" class="lead">Read More <i class="icon-arrow-right3"></i></a>
							</div>
						</div>
					</div>
{% endcomment %}